body{
    width:100%;
    height:auto;
    font-family: 'Courier New', Courier, monospace;
    display:flex;
    justify-content: center;
    padding-top:30px;
    background-color: rgb(49, 40, 22);
}

h1{
    text-align: center;
}


.main{
    color:rgb(66, 54, 54);
    width: 50%;
    font-size: 1.5rem;
    background-color: blanchedalmond;
    display:flex;
    align-items: center;
    flex-direction:column;
    background-image: repeating-linear-gradient(
        to top,
        rgba(124, 203, 252, 0.404) 0 2px,
        transparent 2px 2lh
      );
    border: 2px solid lightskyblue;


}

.main ul ,
 ol ,
 p{
    width:70%;
}

.main img{
    width:60%;
    height:auto;
}

li{
    margin-top:10px;
}

a{
    color:rgb(66, 54, 54);
}